html{
  background-color: #2e2f30;
}
.searchbar{
  background-color: #ed2623;
  width: 400px;
  height: 100px;
  border: 2px solid white;
}

#zoekbalk{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.zoekbalkText{
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
}
