body{
  background-color: #2e2f30;
}

.downloadBar{
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  background-color: lightgrey;
 }

.zoekbalkText{
  font-size: 18px;
  font-weight: 600;
}

.form-control{
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  text-align: center;
}
