body{
  background-color: #2e2f30!important;
}

.downloadBar{
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  max-width: 90%;
  background-color: lightgrey;
 }

.zoekbalkText{
  font-size: 24px;
  font-weight: 600;
}

.input-group{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 90%;
  text-align: center;
}

#form-control{
  margin-bottom: 20px;
  border-radius: 8px;
}
